
                            <tr>
                                <td>
                                    <font size="4" >{{MotifID}}</font>
                                </td>
                                <td>
                                    <font size="4" >{{Species}}</font>
                                </td>
                                <td>
                                    <font size="4" >{{Description}}</font>
                                </td>
                                <td>
                                    <font size="4" >{{Alias}}</font>
                                </td>
                                <td>
                                    <font size="4" >{{Pvalue}}</font>
                                </td>
                                <td>
                                    <img width="500" height="220" border="0" align="left" alt="some_text" src={{img}}>
                                </td>
                            </tr>                       